<h1>LampWebStore demo project</h1>

<p>This is my WebApi demo project.</p>

<p>
  The back-end was made by means of asp.core with the onion architecture. It use EF.core to communicate with data base, <br>
  the <a href="https://fluentvalidation.net/">Fluent Validation</a> library to perform input data checking, <br>
  the <a href="https://automapper.org/">AutoMapper</a> library to perform DTO conversions, <br>
  the <a href="https://angular.io/">Angular</a> framework to build presentation SPA as a front-end.
</p>

<p>
  This demo consists of the Lamps entities with all CRUD operations are allowed on them. <br>
  Also it allows produce comparisons between a couples of the lamps.
</p>

<footer>
  <hr />
  <a href="https://github.com/Alex-D-Green">Source code on GitHub</a><br>
  <a href="mailto:das2010@bk.ru">My Email: das2010@bk.ru</a>
</footer>
